/* CSS 변수 -> 한 값당 하나.*/
:root {
    --text-title70:4.375rem;/* 70px 대제목 */
    --text-contents21:1.313rem; /* 21px 내용 */
    --text-menu18 : 1.125rem; /* 18px 주 메뉴 */
    --text-sub12:0.75rem; /* 12px 서브메뉴 */
/* --대상-용도:반복속성값; */

/* 행간 */
    --line-title90:90%;
    --line-contents:150%;
    --line-menu:100%;
    --line-submenu:100%;

/* 자간 */
    --letter-common:-0.02rem;

/* 굵기 */
--weight-title:700;
--weight-contents:400;
--weight-menu:400;
--weight-submenu:400;

/* 색상 */
    --color-white:#fff;
    --color-gray4:#444;
    --color-graya:#aaa;
    --color-title_brown:#642c10;
    --color-title_indigo:#1d365d;
    --color-title_coral:#d43936;
    /* 레이아웃 정보 */
    --width-desktop:1440px;
    --margin-desktop-l-r-80:80px
}



/* 전체 body */
body {}


/* logo */
#wrap {}
#wrap header {
    /* 선언 */
    display: flex;
    /* flex 방향은 어디서 시작하며 어떻게 가는가? */
    flex-direction: row;
    /* 줄바꿈이 되어있는가? ㄴ */
    flex-wrap: nowrap;
    /* 자식이 어떻게 나열시킬 것인가?: */
    justify-content: space-between;
    /* 교차축이 몇개인가? 1개 -> items / 축이 어떻게 정렬되어있는가? */
    align-items: center;
    background-color: aqua;
    padding-left: 80px;
    padding-right: 80px;
}

#wrap header nav {
    background-color: yellow;
}
#wrap header {}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 img {}

/* nav */
#wrap header #gnb  {
    /* 선언 */
    display: flex;
    /* 축이 어느방향으로 옮겨갔는가? row로 / 줄바꿈은? no */
    flex-flow: row nowrap;
    gap: 70px;
    /* 축 위의 아이템들이 어떻게 정렬되어 있는가? */
    justify-content: space-between;
    /* 아이템은 고정축에 어떻게 정렬되어있는가?*/
    align-items: center;
}
#wrap header #gnb>li {}
#wrap header #gnb>li>a {
    font-size:var(--text-menu18);
    background: purple;
    line-height: 92px;
    display:block;
}


/*  right manu  */
#wrap header #right_menu {
    background-color: yellow;
    display: flex;
    /* 축이 어느방향으로 옮겨갔는가? row로 / 줄바꿈은? no */
    flex-flow: row nowrap;
    /* 축 위의 아이템들이 어떻게 정렬되어 있는가? */
    justify-content: space-between;
    /* 아이템은 고정축에 어떻게 정렬되어있는가?*/
    align-items: center;
    
}
#wrap header #right_menu > li {}
#wrap header #right_menu > li:first-child:after {
    content:''; display:block;
    width:1px; height:13px; background:var(--color-graya);
    text-align: right center; display: inline-block;
    margin: 0px 40px;
}

#wrap header #right_menu > li > a {
    font-size:var(--text-sub12);
}

#wrap header #right_menu > li > #lang {}
#wrap header #right_menu > li > #search_bar {margin: 0 0 0 40px;}