<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="이낙근찹쌀떡, 찹쌀떡, 이낙근, 떡">
    <meta name="description" content="이낙끈찹쌀떡">
    <title>이낙근찹쌀떡</title>
</head>
<body>
    <div id="header">
        <h1><a href="./leeddeok.html">이낙근 찹쌀떡</a></h1>
        <div class="left_menu">
            <a href="#">좌측메뉴</a>
                <div class="menu_open">메뉴창
                    <div class="buy">
                        <a href="#">전체상품</a>
                        <a href="#">찹쌀떡 세트</a>
                        <a href="#">선물세트</a>
                        <a href="#">정기구독</a>
                        <a href="#">베이커리</a>
                    </div>
                    <div class="intro">
                        <a href="#">이낙근찹쌀떡</a>
                        <a href="#">이낙근명장</a>
                        <a href="#">제품라인</a>
                        <a href="#">매장안내</a>
                    </div>
                    <div class="notice">
                        <a href="#">공지사항</a>
                        <a href="#">이벤트</a>
                        <a href="#">리뷰</a>
                    </div>
                    <div class="help">
                        <a href="#">FAQ</a>
                        <a href="#">1대1문의</a>
                        <a href="#">Q&A</a>
                        <a href="#">대량구매문의</a>
                    </div>
                </div>
        </div>
        <a href="#">마이메뉴</a>
        <a href="#">장바구니</a>
    </div>
</body>
</html>