<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LG노트북 16ZD90RU-GX56K 16GB/512GB/WIN11홈">
    <meta name="keywords" content="LG노트북, 오늘의집, 노트북">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>노트북 > LG노트북 16ZD90RU-GX56K 16GB/512GB/WIN11홈 | 오늘의집 쇼핑</title>
</head>
<body>
    <div id="container">
        <div class="path">
            <a href="#">가전·디지털</a>
            <img src="#" alt="다음 경로">
            <a href="#">컴퓨터·노트북</a>
            <img src="#" alt="다음 경로">
            <a href="#">노트북</a>
            <img src="#" alt="다음 경로">
            <a href="#">노트북</a>
        </div>
        <div class="product">
            <div class="thumbnail_img">
                <ul class="small">
                    <li>
                        <a href=""><img src="#" alt="썸네일이미지"></a>
                    </li>
                </ul>
                <div class="big_img"><img src="#" alt="상품 큰 이미지"></div>
            </div>
            <div class="info">
                <p><a href="#">LG전자</a></p>
                <div class="product_name">
                    <h1>LG노트북 16ZD90RU-GX56K 16GB/512GB/WIN11홈</h1>
                    <div class="icon">
                        <a href="#"></a><img src="#" alt="즐겨찾기 아이콘"></a>
                        <a href="#"><img src="#" alt="공유"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>