<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>숲소리</title>
</head>
<body>
    <div id="header">
        <h1><a href="./soopsori.html">soopsori</a></h1>
        <!-- 오른쪽 메뉴 *3 -->
        <div class="right_menu">
            <!-- 메뉴1. 검색 -->
            <div class="Search">
                <a href="#"></a>
                <div class="search_open">검색창</div>
            </div>
            <!-- 메뉴2. 장바구니 -->
            <a href="#">장바구니</a>
            <!-- 메뉴3. 메뉴 -->
            <div class="all_menu">
                <a href="#">전체메뉴</a>
                <div class="menu_open">메뉴창</div>
            </div>
        </div>
    </div>
</body>
</html>